body {
    margin: 0;

    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: 2px dashed underline;
}
a:hover {
    font-weight: bold;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#container {
    width: 100%;
    min-height: 100%;
    margin: 0;
    /* background-image: url("../static/mostar-background.jpg"); */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}




#weather {
    float: right;
    margin-right: 25px;
    margin-top: 5px;
}

#weather h1{
    display: inline-block;
    margin-right: 5px;
    margin-top: 0
}

#weather p {
    margin-bottom: 0;
}

#center {
    position: fixed;
    margin-top: 30vh;
    width: 40%;
    margin-left: 30%;
    /* margin-top: 30%; */
}

#loginprompt {
    margin-top: 5vh;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 2vh;
    /* margin-top: 30%; */
}

#loginprompt #text {
    text-align: center;
    font-size: 1.1em;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}


#loginprompt ul{
    list-style: none;
    text-align: left;
    margin-left: 5%;
}
#loginprompt li:before {
    font-size: 3em;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    color: #00a700;
}
#loginprompt li {
    margin-bottom: 25px;
}
#loginprompt li div {
    font-family: 'Montserrat' !important;
    color: white !important;
    font-size: 1.2em !important;
    margin-left: 70px;
    margin-top: -50px;
}
#loginprompt h1 {
    font-size:7em;
    font-weight: bold;
    letter-spacing: 5px;
}

#clock {
    text-align:center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

#clock time {
    position: relative;
    width: 100%;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
}

#clock #date {
    font-size: 0.25em;
}

#bgdescription {
    width: 60%;
    margin-left: 20%;
    bottom: 0;
    margin-bottom: 5%;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}

#footer {
    position: absolute;
    bottom: 25px;
    margin-bottom: 0;
    width: 96%;
    margin-left: 2%;
    left: 0;
}

#footer p {
    position: absolute;
    left: 0;
    margin: 0 !important;
}

#footer h4 {
    position: absolute;
    right: 0;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 !important;
}

#footer h4:hover {
    font-weight: 1000;
}

#form {
    width: 40%;
    margin: 30%;
    margin-top: 20%;
    position: absolute;
}

#form input {
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
}

.button {
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    font-size: 1em;
    line-height:100%;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    min-width: 100px;
    cursor: pointer;
    transition: background-color 350ms linear;
}

.button:hover {
    background-color: rgba(255,255,255, 0.35);
    transition: background-color 350ms linear;
}

#form .button {
    position: absolute;
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
}

.button :hover {
    cursor: pointer;
}

.textinput {
    width: 100%;
    display: block;
    text-align: center;
}

.textinput input {
    background-color: rgba(255,255,255,0.35);
    width: 100%;
    font-size: 2em;
    color: white;
}

#error {
    color: red;
}